.cities-list {
    flex: 1 0;
    padding: 10px;
    margin: 0;
}

/* FADE ANIMATION */
.cities-list-item__fade-enter {
    opacity: 0;
}

.cities-list-item__fade-enter-active {
    opacity: 1;
    transition: opacity 300ms ease-in;
}

.cities-list-item__fade-exit {
    opacity: 1;
}

.cities-list-item__fade-exit-active {
    opacity: 0;
    transition: opacity 300ms ease-in;
}