.top-panel {
    background-color: white;
    top: 0;
    position: fixed;
    height: 50px;
    width: 1080px;
    display: flex;
    align-items: center;
    z-index: 10;
    padding: 16px;

    .top-panel__project-name {
        font-weight: bolder;
        font-size: 32px;
    }
}

@media (max-width: 1080px) { 
    .top-panel {
        width: 100%;
        margin: 0 auto;
    }
}