.city-input-container {
	display: flex;
}

.city-input-container .city-input-container__input {
	padding: 0 1%;
	width: 300px;
	height: 40px;
	border-radius: 50px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-right: 5px;
	color: rgba(0, 106, 255, .3);
	font-weight: bold;
	border: 2px solid rgba(0, 106, 255, .3);
	outline: none;
	transition: all .15s ease;
}
.city-input-container .city-input-container__input:focus {
	background-color: rgba(0, 106, 255, .1);
	border: 2px solid rgba(0, 106, 255, 1);
	color: rgba(0, 106, 255, 1);
}
.city-input-container .city-input-container__input::placeholder {
	color: rgba(0, 106, 255, .2);
}


.city-input-container .city-input-container__enter {
	margin: 0 1%;
	padding: 0 1%;
	font-weight: 400;
	cursor: pointer;
	background-color: rgba(0, 106, 255, 1);
	color: white;
	outline: none;
	border: 0;
	border-radius: 50px;
	transition: all .15s ease;
}
.city-input-container .city-input-container__enter:hover {
	background-color: rgba(0, 106, 255, .9);
	color: white;
}
.city-input-container .city-input-container__enter:active {
	background-color: rgb(0, 89, 214);
	color: white;
}
.city-input-container .city-input-container__enter:disabled {
	cursor: default;
	background-color: rgba(0, 89, 214, .2);
}


