.cities-list__placeholder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1 0;
    padding: 10px;
}

.cities-list__placeholder .cities-list__placeholder__header {
    text-align: center;
	color: rgba(0, 106, 255, 1);
}

.cities-list__placeholder .cities-list__placeholder__secondary-info {
    text-align: center;
	color: rgba(0, 106, 255, .5);
}